//variables
*{
    margin: 0;
    padding: 0;
}

$bg-dark: rgb(3, 3, 3);
$bg-info: blue;
$bg-success: green;
$bg-light:#EFF1E8;

$w-25: 25%;
$w-50: 50%;
$w-75: 75%;
$w-100: 100%;

$d-flex: flex;
$d-block:block;

@for $i from 6 to 1{
    h#{$i}{font-size: 1em *$i}
}

.btn{
    width: 100%;
    height: 40px;
    background-color: $bg-dark;
    border: none;
    color: white;
    &:hover{
        cursor: pointer;
        color: white;
    }
}

.btn-rounded{
    @extend .btn;
    border-radius: 10px;
}